:root{
    --bg-color: #000000;
    --accent-color: #00fd00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Press Start 2P', cursive;

    line-height: 1.4;
    color: #ffffff;
}

.container{
  width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px auto;
}

img{
  max-width: 100%;
}

ul{
  list-style-type: none;
}

li{
  margin-bottom: 16px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: var(--accent-color);
}

.board{
    display: flex;
    flex-direction: row;
}

.game-area{
    padding: 12px;
    position: relative;
}

.game-data{
    padding: 12px;

    width: 240px;
}

h1{
    font-size: 36px;
    margin-bottom: 16px;
}

p{
    font-size: 16px;
    margin-bottom: 20px;
}

.game-alert{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-alert-message{

    font-size: 38px;
    padding: 20px;

    background-color: var(--accent-color);

}

#arcade{
    font-size: 80px;
    color: var(--accent-color);
}

#js{
    font-size: 160px;
    color: var(--accent-color);
}

.footer{
    bottom : 2px;  
    height : 30px;  
    margin-top : 40px;  
    text-align: center;  
    vertical-align: middle; 
    position:fixed;
    width:100%;
    font-size: 10px;
}